<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	
    @Html.DevExpress().GetStyleSheets( 
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }, 
 
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
@Html.DevExpress().GetScripts( 
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
    new Script { ExtensionSuite = ExtensionSuite.GridView },   
    new Script { ExtensionSuite = ExtensionSuite.Editors }
)
    <script type="text/javascript">
        function OnItemClick(s, e) {
            if (e.item.GetText() == "Customers") {
                $.ajax({
                    type: "GET",
                    url: document.URL + e.item.name,
                    success: function (response) {
                        $("#MainContentDiv").html(response);
                    }
                });
            }
            else
                CallbackPanel.PerformCallback({ view : e.item.GetText() });
        }
    </script>
</head>
<body>
    @Html.DevExpress().Splitter(settings => {
        settings.Name = "MainSplitter";
        settings.AllowResize = false;
        settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
        settings.FullscreenMode = true;
        settings.SeparatorVisible = false;
        settings.Styles.Pane.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
        settings.Styles.Pane.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);

        settings.Panes.Add(pane => {
            pane.Name = "Header";
            pane.Size = System.Web.UI.WebControls.Unit.Pixel(83);
            pane.MinSize = System.Web.UI.WebControls.Unit.Pixel(83);
            pane.PaneStyle.BorderBottom.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
            pane.PaneStyle.CssClass = "headerPane";
            pane.SetContent(() => {
                Html.RenderPartial("HeaderPartialView");
            });
        });

        settings.Panes.Add(pane => {
            pane.Name = "Content";
			pane.PaneStyle.CssClass = "mainContentPane";
            pane.MinSize = System.Web.UI.WebControls.Unit.Pixel(375);
            pane.PaneStyle.BackColor = System.Drawing.Color.White;
            pane.PaneStyle.BorderBottom.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
            pane.SetContent(RenderBody().ToHtmlString());
        });

        settings.Panes.Add(pane => {
            pane.Name = "Footer";
            pane.Size = System.Web.UI.WebControls.Unit.Pixel(125);
            pane.PaneStyle.CssClass = "footerPane";
            pane.SetContent(() => {
                Html.RenderPartial("FooterPartialView");
            });
        });
    }).GetHtml()
</body>
</html>